@model A15147442_API.ViewModels.ContratoViewModel
@using A15147442_ENT.Entities

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Contratos</h2>

@using (Html.BeginForm("SaveContratos", "contratos"))
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.Contrato.NombreDeLaEmpresa)
        @Html.TextBoxFor(m => m.Contrato.NombreDeLaEmpresa, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contrato.NombreDeLaEmpresa)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Contrato.FechaInicial)
        @Html.TextBoxFor(m => m.Contrato.FechaInicial, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contrato.FechaInicial)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Contrato.FechaFin)
        @Html.TextBoxFor(m => m.Contrato.FechaFin, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contrato.FechaFin)
    </div>


    @Html.HiddenFor(m => m.Contrato.ContratoId);

    <button type="submit" class="btn btn-primary">
        Guardar
    </button>
}

