@model A15147442_ENT.Entities.Venta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Encargado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encargado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaVendida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVendida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDePago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDePago)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.VentaId }) |
    @Html.ActionLink("Volver", "Index")
</p>
