@model IEnumerable<A15147442_ENT.Entities.Venta>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro de Ventas</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Encargado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVendida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDePago)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Encargado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVendida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDePago)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.VentaId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.VentaId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.VentaId })
        </td>
    </tr>
}

</table>
